
/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 34%;          /* округляем кнопку */
  border: none;                /* отключаем обводку */
  background: var(--my-btn-backgroung);         /* задаем серый цвет кнопки */
  color: var(--my-btn-color);                /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: var(--my-btn-backgroung-hover); /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: #ffdd2d; /* цвет кнопки оранжевый */
}
.my-btn.primary:hover { 
  background: #ffcd33; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: var(--my-btn-secondary-background); /* цвет кнопки сервый */
  color: var(--my-btn-secondary-color);
}

.my-btn.secondary:hover {
  background: darkgray;
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 110px;          /* сделаем кнопку шире других */
  border-radius: 34px;   /* подкорректируем округлость */
}

.my-btn.change { 
  width: 110px;          
  border-radius: 34px;
}

/* селектор для поля вывода результата */
.result { 
  width: 220px;
  height: 50px;
  margin-bottom: 15px;         /* отступ снизу */
  padding-right: 10px;         /* выступ справа */
  background: var(--background); /* цвет можно задавать и таким образом */
  text-align:right;           /* примагнитим текст к правой стороне */
  border-radius: 34px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.result.grey {
  --background: #f6f7f8;
  color: #525252;
}

.result.yellow {
  --background: #ffdd2d;
  color: #FFFFFF;
}

.image-button-bckscps {
  margin-right: 5px;           
  margin-top: 5px;             
  width: 50px;                 
  height: 50px;                
  border-radius: 34%;          
  border: none;                
  background: var(--my-btn-secondary-background);              
  font-size: 1.5rem;           
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer; 
  user-select: none;   
  background-image: var(--background-image);
  background-size: cover;
}

.image-button-bckscps:hover{
  background: darkgray;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.image-button-dark-theme {
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 34%;          /* округляем кнопку */
  border: none;                /* отключаем обводку */
  background: #ffdd2d;         /* задаем серый цвет кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
  cursor: pointer;             
  user-select: none;   
  background-image: url("moon-svgrepo-com.svg");
  background-size: cover;
}

body.light-theme {
  background-color: #ffffff;
  color: #000c;
  --bg-color: #f6f7f8;
  --hover-color: lightgrey;
  --my-btn-backgroung: #000c;
  --my-btn-backgroung-hover: #292929;
  --my-btn-color:white;
  --my-btn-secondary-background: #244a7f0f;
  --my-btn-secondary-color:#000c;
  --background-image: url("backspace-svgrepo-com-5.svg");
}

body.dark-theme {
  background-color: rgb(73, 73, 73);
  color: #ffffff;
  --bg-color: #525252;
  --hover-color: grey;
  --my-btn-backgroung: #FFFFFF;
  --my-btn-backgroung-hover: #F6F7F8;
  --my-btn-color:#000c;
  --my-btn-secondary-background: #525252;
  --my-btn-secondary-color:#FFFFFF;
  --background-image: url("backspace-svgrepo-com-4.svg");
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}